.gradle
**/build/
!src/**/build/
run/
out/
bin/
.settings/
lib/
logs/

gradle-app.setting

!gradle-wrapper.jar

!gradle-wrapper.properties

.gradletasknamecache

.project
.classpath

.idea

src/main/java/com/example/modid/Reference.java
